
<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div>
  <% @books.each do |book| %>
    <%= link_to book_path(book) do %>
      <p>タイトル：<%= book.title %></p>
    <% end %>
    <p>あらすじ：<%= book.synopsis %></p>
    <p>感想：<%= book.impression %></p>
  <% end %>
</div>

<%= paginate @books %>