<h1>投稿詳細</h1>
<div>
  <p><%= @book.title %></p>
  <p><%= @book.synopsis %></p>
  <p><%= @book.impression %></p>
  <% if @book.user == current_user %>
    <%= link_to '編集', edit_book_path(@book) %>
    <%= link_to '削除', book_path(@book), method: :delete, data: {confirm: "本当に削除しますか？"} %>
  <% end %>
</div>